---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<div class="content">

    <article class="article  article--page  typeset">

			{% if paginator.projects %}
				{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
				{{ collectiondata.description | markdownify }}

			{% else %}
				<h1>{{ page.title }}</h1>
				{{ content }}

			{% endif %}

    </article>

    {% include project-list.html %}

		<a href="http://chaotikum.org/projekte:unsere_projekte">Weitere Projekte in unserem Wiki.</a>
  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
